body{font-family: 'Stint Ultra Expanded', cursive;}
a:link {color: #F9AB33;}
a:hover {color: #608080;}
/*ul>li>a:visited{color: #F9AB33;}*/
a {border-bottom: dotted ;border-width: 1px;text-decoration: none;}
ul {list-style: none;}
nav {background-color: #783F27;font-family: Verdana;font-size: 0.8em;letter-spacing: 0.3em;text-transform: uppercase;}
header {text-align: center;background-image: url(images/croissants_banner.jpg);background-repeat: no-repeat;background-position: center;background-size: cover;}
header>p {font-style: italic;color: #FFFFFF;}
footer {background-color: #783F27;color: #EADDC4;text-align: center;padding: 1em;}
div.main>h2 {color: #555555;}
div.main {border-color: #EADDC4;border-style: double;border-radius: 25px;margin: 2.5%;padding: 1em;}
div.main>h3 {text-transform: uppercase;letter-spacing: 0.2em;color: #7A0002;border-top-style: solid;border-top-width: 1px;border-left-style:solid;border-left-width: 3px;padding-left: 1em;margin-top: 2.5;}
div.hours {background-color: #F6F3ED;margin: 2.5%;padding: 1em;border-color: #7A0002;border-style: solid;}
span.day {color: #783F27;font-family: Verdana,;}