body {background-image: url(images/bullseye.png);}
/*#div1{background-image: url(images/purpledot.png); background-repeat: repeat-x;}*/
li.c4 {list-style-image: url(images/bull.PNG);font-size: xx-large;}