p { font-family:  Verdana,sans-serif; }
h1 {font-family: 'Marko One',georgia; font-size: 1.5em; color: #993399; text-shadow: 0.2em  0.2em #d3d3d3;}
h2 {font-size: 1em; color: #CC6600; text-align: center;text-transform: uppercase;letter-spacing: 8px;}
span.price {font-family: Georgia; color: #808080;}
p.warning {color: #FF6347;}
title {color:#808080;}
dt>strong {color: #FF0000;font-style: italic;}
dt {color: #A0522D;}
#div1 {text-align: center;}
ul {list-style: none;}